#run python script every 2 minutes
*/2 * * * * /usr/local/bin/python /tracker/insert_rows.py >> /tracker/output.txt 2>&1
#35 20 1-31 3 3 /usr/local/bin/python /tracker/insert_rows.py >> /tracker/output.txt 2>&1
